<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209993410813-fmu11c2o3or4tvvhsj0o16kpdj2s1q9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209993410813-fmu11c2o3or4tvvhsj0o16kpdj2s1q9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCuzV4tTbs4yCF5uJ4algL5xKw1-pJlDQw</string>
	<key>GCM_SENDER_ID</key>
	<string>209993410813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melowsoft.SwiftUI-Advanced</string>
	<key>PROJECT_ID</key>
	<string>advanced-swiftui-b9173</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-swiftui-b9173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209993410813:ios:187eed30a5eea2a787b694</string>
</dict>
</plist>